/* Import font-family */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

:root {
  --primary-color: #ff5400;
}

body {
  max-width: 1170px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}
.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  border-radius: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.banner > h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 0;
}
.banner > p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.banner .input-field {
  display: flex;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  gap: 24px;
}
.banner .input-field input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: rgba(15, 15, 49, 0.5);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
  margin-right: 24px;
}
.banner .input-field svg {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -60px;
  margin-top: 14px;
}
.button {
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 174px;
  height: 52px;
  border: none;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.banner .input-field .search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  padding-left: 30px;
  margin-top: -2px;
}
/* Popular Tours section styles */
.tour-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 50px;
}
.tour-section h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-section p {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tour-section li {
  width: 525px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.tour-section button {
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 174px;
  height: 52px;
  border: none;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.tour-section .tour-image {
  width: 100%;
}

/* Destination styles */

.destination-content {
  text-align: center;
}
.destination-content > h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.destination-content p {
  width: 60%;
  margin: 20px auto;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.destination-images .image-row1 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row1 .image1 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 20%;
}
.destination-images .image-row1 .image2 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 70%;
}
.destination-images .image-row2 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row2 .image3 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 12%;
}
.destination-images .image-row2 .image4 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 45%;
}
.destination-images .image-row2 .image5 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 83%;
}

.destination-images .image-row3 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row3 .image6 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 12%;
}
.destination-images .image-row3 .image7 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 65%;
}

/* Responsive media quires styles */

@media screen and (max-width: 600px) {
  /* banner section responsive */
  .banner {
    background-position: center;
    margin: 20px;
  }
  .banner > h1 {
    font-size: 22px;
  }
  .banner > p {
    width: 404px;
  }
  .banner .input-field {
    flex-direction: column;
    width: 60%;
  }
  .banner .input-field input {
    width: 95%;
  }
  .button {
    width: 100%;
  }
  .banner .input-field svg {
    position: relative;
  }
  /* Tours section responsive */
  .tour-section {
    margin-left: 30px;
    flex-direction: column;
    row-gap: 20px;
  }
  .tour-section h1 {
    font-size: 20px;
  }
  .tour-section p {
    width: 80%;
  }
  .tour-section li {
    width: 80%;
  }
  /* destination section responsive */
  .destination-images .image-row1 {
    flex-direction: column;
    margin-left: 24px;
    row-gap: 24px;
  }
  .destination-images .image-row1 .image1 {
    top: 20%;
    left: 40%;
  }
  .destination-images .image-row1 .image2 {
    top: 70%;
    left: 40%;
  }
  .destination-images .image-row2 {
    flex-direction: column;
    margin-left: 24px;
    row-gap: 24px;
  }
  .destination-images .image-row2 .image3 {
    top: 13%;
    left: 40%;
  }
  .destination-images .image-row2 .image4 {
    top: 42%;
    left: 30%;
  }
  .destination-images .image-row2 .image5 {
    top: 75%;
    left: 37%;
  }
  .destination-images .image-row3 {
    flex-direction: column;
    margin-left: 24px;
    row-gap: 24px;
  }
  .destination-images .image-row3 .image6 {
    top: 23%;
    left: 35%;
  }
  .destination-images .image-row3 .image7 {
    top: 75%;
    left: 35%;
  }
}
