/* ----------Import font-family---------- */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

:root {
  --primary-color: #ff5400;
}
body {
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}
main,
header {
  max-width: 1170px;
  margin: 0 auto;
}

/* ----------Navbar Section Styles---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menubar ul {
  display: flex;
  column-gap: 44px;
}
.menubar ul li {
  list-style: none;
}
.menubar ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-icon {
  display: none;
}

/* ----------Banner Section Styles---------- */

.banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  border-radius: 16px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.banner > h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 0;
}
.banner > p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.banner .input-field {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  height: 10%;
  gap: 24px;
}
.banner .input-field input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: rgba(15, 15, 49, 0.5);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
  margin-right: 24px;
}
.banner .input-field svg {
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -60px;
  margin-top: 14px;
}
.button {
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 174px;
  height: 52px;
  border: none;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.banner .input-field .search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  padding-left: 30px;
  margin-top: -2px;
}

/* ----------Popular Tours section styles---------- */

.tour-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 50px;
}
.tour-section h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-section p {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tour-section li {
  width: 525px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.tour-section button {
  background-color: var(--primary-color);
  border-radius: 8px;
  width: 174px;
  height: 52px;
  border: none;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}
.tour-section .tour-image {
  width: 100%;
}

/* ----------Destination styles---------- */

.destination-content {
  text-align: center;
}
.destination-content > h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.destination-content p {
  width: 60%;
  margin: 20px auto;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.destination-images .image-row1 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row1 .image1 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 20%;
}
.destination-images .image-row1 .image2 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 70%;
}
.destination-images .image-row2 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row2 .image3 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 12%;
}
.destination-images .image-row2 .image4 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 45%;
}
.destination-images .image-row2 .image5 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 83%;
}
.destination-images .image-row3 {
  display: flex;
  column-gap: 24px;
  padding-bottom: 24px;
  position: relative;
}
.destination-images .image-row3 .image6 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 12%;
}
.destination-images .image-row3 .image7 {
  position: absolute;
  color: #fff;
  border-radius: 16px;
  font-size: 28px;
  font-weight: 800;
  top: 40%;
  left: 65%;
}

/* ----------Choose Card styles---------- */

.choose-section h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.choose-section > p {
  width: 50%;
  margin: 0 auto 50px;
  text-align: center;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.cards {
  display: flex;
  column-gap: 24px;
}
.card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.cards .card1 > h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.cards .card1 > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.cards .card2 > h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.cards .card2 > p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.card3 {
  margin: 16px auto 50px;
  width: 44%;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.card3 > h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.card3 > p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* ----------Newsletter styles---------- */

.newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  margin-bottom: 50px;
}
.content > h3 {
  color: #131318;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content {
  padding: 45px 24px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.content > p {
  color: #5a5a5d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.content > input,
button {
  margin-bottom: 16px;
  width: 93%;
  border: none;
  padding: 15px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.content > input {
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.content > button {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  background-color: var(--primary-color);
}
.newsletter-image {
  border-radius: 16px;
}
.newsletter-image {
  position: relative;
}
.newsletter-image .offer {
  width: 324px;
  height: 120px;
  text-align: center;
  border-radius: 16px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  position: absolute;
  background-color: var(--primary-color);
  top: 60%;
  left: 51%;
}
.newsletter-image .offer > p {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.newsletter-image .offer > h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 0;
}

/* ----------Footer styles---------- */

.footer-section {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  background: rgba(19, 19, 24, 0.05);
}
.footer-name {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
.footer-name img {
  width: 40px;
  height: 46.673px;
}
.footer-name > h1 {
  color: #131318;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
span {
  color: var(--primary-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.footer-content > p {
  width: 60%;
  margin: 0 auto;
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}
.social-logo {
  margin-bottom: 50px;
}
.line {
  width: 1440px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 50px;
}
.footer {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

/* ----------Responsive media quires styles---------- */

@media screen and (max-width: 600px) {
  /* ----------Menubar section responsive---------- */

  .footer-name img {
    width: 28.724px;
    height: 33.516px;
  }
  .footer-name {
    margin-left: 20px;
    align-items: center;
  }
  .footer-name h1 {
    font-size: 21.543px;
  }
  .footer-name span {
    font-size: 21.543px;
  }
  .menubar {
    display: none;
  }
  .mobile-icon {
    display: block;
    margin-right: 20px;
  }
  .mobile-icon svg {
    width: 35px;
    height: 35px;
  }

  /* ----------banner section responsive---------- */

  .banner {
    background-position: center;
    width: 93%;
    margin: 20px;
  }
  .banner > h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  .banner > p {
    font-size: 14px;
    width: 404px;
    line-height: 21px;
    font-weight: 400;
  }
  .banner .input-field {
    flex-direction: column;
    height: 66%;
    width: 60%;
  }
  .banner .input-field input {
    width: 95%;
  }
  .button {
    width: 100%;
  }
  .banner .input-field svg {
    position: relative;
  }

  /* ----------Tours section responsive---------- */

  .tour-section {
    margin-left: 20px;
    flex-direction: column;
    row-gap: 20px;
  }
  .tour-section h1 {
    font-size: 20px;
  }
  .tour-section p {
    width: 95%;
  }
  .tour-section li {
    width: 95%;
  }
  .tour-image img {
    width: 96%;
  }

  /* ----------Destination section responsive---------- */

  .destination-content h1 {
    font-size: 20px;
  }
  .destination-images .image-row1 {
    width: 93%;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 24px;
  }
  .destination-images .image-row1 .image1 {
    top: 20%;
    left: 40%;
  }
  .destination-images .image-row1 .image2 {
    top: 70%;
    left: 40%;
  }
  .destination-images .image-row2 {
    width: 93%;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 24px;
  }
  .destination-images .image-row2 .image3 {
    top: 13%;
    left: 40%;
  }
  .destination-images .image-row2 .image4 {
    top: 42%;
    left: 30%;
  }
  .destination-images .image-row2 .image5 {
    top: 75%;
    left: 37%;
  }
  .destination-images .image-row3 {
    width: 93%;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 24px;
  }
  .destination-images .image-row3 .image6 {
    top: 23%;
    left: 35%;
  }
  .destination-images .image-row3 .image7 {
    top: 75%;
    left: 35%;
  }

  /*----------Choose & Card section responsive----------*/

  .choose-section h1 {
    font-size: 20px;
  }
  .choose-section p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .cards {
    width: 93%;
    flex-direction: column;
    margin-left: 20px;
    row-gap: 16px;
  }

  .cards .card1 .card2 h3 {
    font-size: 20px;
  }
  .cards .card1 .card2 p {
    font-size: 14px;
    width: 271px;
  }
  .card3 {
    width: 82%;
    margin-left: 20px;
  }

  /* ----------newsletter section responsive---------- */

  .newsletter-section {
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 24px;
  }
  .content {
    margin: 0;
    width: 83%;
  }
  .newsletter-image img {
    margin-left: 20px;
    width: 93%;
  }
  .newsletter-image .offer {
    width: 38%;
    height: 23%;
    transform: rotate(-19.628deg);
    top: 67%;
    left: 58%;
  }
  .newsletter-image .offer > p {
    font-size: 0.8rem;
  }
  .newsletter-image .offer > h2 {
    font-size: 1rem;
  }

  /* ----------Footer section responsive---------- */
  .footer-section {
    width: 100%;
  }
  .footer-name img {
    width: 28.724px;
    height: 33.516px;
  }
  .footer-name {
    align-items: center;
  }
  .footer-name h1 {
    font-size: 21.543px;
  }
  .footer-name span {
    font-size: 21.543px;
  }
  .footer-content p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .line {
    margin-left: 20px;
    width: 90%;
    padding: 0;
    margin-bottom: 24px;
  }
  .social-logo svg {
    width: 174.322px;
    height: 24px;
  }
  .social-logo {
    margin-bottom: 24px;
  }
  .footer {
    font-size: 14px;
    margin: 0;
    padding-bottom: 24px;
  }
}
